<%= form_for :song, url: songs_path do |f| %>

  <% if @song.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@song.errors.count, "error") %> prohibited
      this song from being saved:</h2>
    <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <label>Jam! Title
	<%= f.text_field :title, {:placeholder => "Enter the title of your Jam!" } %>
      </label>	
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Date
        <%= f.text_field :date, {:placeholder => "Enter the date" } %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Description
        <%= f.text_area :description, {:placeholder => "Enter a description of your Jam!" } %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Link
        <%= f.text_field :link, {:placeholder => "Enter a URL" } %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Lyrics
        <%= f.text_field :lyrics, {:placeholder => "Enter the lyrics" } %>
      </label>
    </div>
  </div>
    <%= f.submit "Save Jam!", {:class => "button expand" }  %>
<% end %>
