<h1>Welcome to the Jam! Forum</h1>
<p>
  <img src="../../assets/banner.jpg" alt="a picture with musical symbols">
</p>
<p>
  This forum is for you to use to share your Jams with the music community.
  We only ask that you share only your original work and respect
  the community. If you don't like someone's Jam post, keep it to yourself
  or kindly disappear.
</p>
<h2><small><%= link_to 'Share A New Jam!', new_song_path %></small></h2>

<table>
  <thead>
    <tr>
      <th>Jam! Title</th>
      <th>Date</th>
      <th>Description</th>
      <th>Link</th>
      <th>Lyrics</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title       %></td>
      <td><%= song.date        %></td>
      <td><%= song.description %></td>
      <td><%= song.link        %></td>
      <td><%= song.lyrics      %></td>
      <td><%= link_to 'Show',    song_path(song) %></td>
      <td><%= link_to 'Edit',    edit_song_path(song) %></td>
      <td><%= link_to 'Destroy', song_path(song),
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
   <% end %>
</table>
