<dl class="accordion" data-accordian>
  <dd>
    <h1><a href="#panel1">Jam! <%= @song.title %> </a></h1>
    <img src="../../assets/banner.jpg" alt="a picture with musical symbols">
    <div id="panel1" class="content active">
      <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Date</a></dd>
        <dd><a href="#panel2-2">Description</a></dd>
        <dd><a href="#panel2-3">Link</a></dd>
        <dd><a href="#panel2-4">Lyrics</a></dd>
      </dl>
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
	  <p><%= @song.date %></p>
	</div>
        <div class="content active" id="panel2-2">
	  <p><%= @song.description %></p>
	</div>
        <div class="content active" id="panel2-3">
	  <p><%= @song.link %></p>
	</div>
        <div class="content active" id="panel2-4">
	  <p><%= @song.lyrics %></p>
	</div>
      </div>
   </dd>
  <dd>
</dl>
<br>
<p>
  <%= link_to 'Edit Jam!', edit_song_path(@song) %>
</p>
<hr>
<h1><small><a href="">Add A Comment</a></small></h1>
  <%= render "comments/form" %>
<hr>
<h1><small><a href="">Comments</a></small></h1>
  <%= render @song.comments %>






