  <!--keep footer at bottom of the page using javascript-->

  <script src="foundation-5.2.2/js/vendor/jquery.js"></script> 
  <!-- Sticky footer from http://foundation.zurb.com/forum/posts/629-sticky-footer-->
  <script type="text/javascript">
	$(window).bind("load", function () {
	    var footer = $("#footer");
	    var pos = footer.position();
	    var height = $(window).height();
	    height = height - pos.top;
	    height = height - footer.height();
	    if (height > 0) {
	        footer.css({
	            'margin-top': height + 'px'
	        });
	    }
	});
  </script>
  <script src="foundation-5.2.2/js/vendor/fastclick.js"></script>
  <script src="foundation-5.2.2/js/foundation.min.js"></script>
  <script> $(document).foundation(); </script>
</body>
<footer>
  <div style="background-color:#29A3CC;" id="footer"> 
    <p>Built and Maintained By - Daryl Bennett & Taylor Wilson - 2014</p>
  </div>
</footer>
