	<!--navbar-->
	<!--inspired by Michael Hartl's Tutorial-->
  	<div class="row">
	  <nav class="top-bar" data-topbar>
	    <ul class="title-area">
	      <li class="name">
		<h1><a href="#">Jam!</a></h1>
	      </li>
	      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	    </ul>
	    <section class="top-bar-section">
	      <!-- Right Nav Section -->
	      <ul class="right">
		
		<!--Navigate between different pages using Ruby Path Convention-->
		<li class="<%= 'active' if @title=="Home"%>">   <%=link_to "Home",    root_path%></li>		 
		<li class="<%= 'active' if @title=="Song"%>">   <%=link_to "Forum",   songs_path%></li>
		<li class="<%= 'active' if @title=="About"%>">  <%=link_to "About",   about_path%></li>
		<li class="<%= 'active' if @title=="Contact"%>"><%=link_to "Contact", contact_path%></li>
		<li class="<%= 'active' if @title=="Help"%>">   <%=link_to "Help",    help_path%></li>
		<li class="<%= 'active' if @title=="Admin"%>">  <%=link_to "Admin",   admin_path%></li>
	      </ul>	
	    </section>
	  </nav>
	</div>
  
	
