<!--[if lt IE 9]>
<script src ="http://html5shiv.googlecode.com/svn/trunk/html5.js" ></script>
<![endif]-->
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!--[if lt IE 8]><%= stylesheet_link_tag 'application'%><![endif]-->
