<!DOCTYPE html>
<!-- Written by Daryl Bennett and Taylor Wilson -->
     <!-- 
     We followed a screencast tutorial by Michael Hartl
     while working on this project.
     https://www.youtube.com/watch?v=nFQ_ulWiCCI&list=PLVBFw0Pn9e9L7SOKtL8x4Av39drO5Oi-Q
     -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--Dynamically adds the title-->
    <title><%= @title %></title>
    
    <%= csrf_meta_tags %>
    
    <!--adds the stylesheets-->
    <%= render 'layouts/stylesheets' %> 
  </head>
  <body>
    
    <!--Inserts the header navbar-->
    <%= render 'layouts/header' %>
    
    <!--main content-->
    <div class="row">
      <div class="large-8 columns panel">
	      <%= yield %>
	      <%= javascript_include_tag "application" %>
      </div>
    </div>
        
    <!--Inserts the footer  (/body in there also)-->
    <%= render 'layouts/footer' %>
</html>

