<!--navbar-->
<div class="row">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
	<h1><a href="#">Ruby Site</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
	
	<li class="active"><%=link_to "Home",'#'%></li>		  
	<li><%=link_to "Song",'#'%></li>
	<li><%=link_to "Contact",'#'%></li>
	<li><%=link_to "Help",'#'%></li>
	<li><%=link_to "Admin",'#'%></li>
      </ul>	
    </section>
  </nav>
  <dl class="sub-nav right">
    <dd><%=link_to "Sign In",'#'%></dd>
    <dd><%=link_to "Register",'#'%></dd>
  </dl>
</div>

<div class="row">
  <div class="large-8 columns panel">
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </div>
</div>
