<h1>About Jam!</h1>
<p>
  <img src="../../assets/banner.jpg" alt="a picture with musical symbols">
</p>
<p>
  This is where we get to say whatever we want about who we are and what we do.
  Who are we? A couple of computer scientists at The University of Utah. That's
  right! Nerd's like music too, and we're good at it. This is our first exposure
  to developing with Ruby on Rails. We wanted to create a site that provided a 
  space for users to collaborate and share their musical talents. If you would
  like to share your music or offer constructive feedback to the community, please
  <a href="/song">visit the forum</a>.
</p>
<p>
  We would like to thank the Ruby on Rails community for all the helpful tutorials
  that basically built this site. The forum is an adaptation of the 
  <a href="http://guides.rubyonrails.org/getting_started.html">Getting Started</a>
  tutorial. We have also been following the tutorials of 
  <a href="http://ruby.railstutorial.org/#free_screencasts">Michael Hartl</a>.
</p>
<p>
  Cheers! 
</p>
