<h1>Contact Jam!</h1>
<p>
  <img src="../../assets/banner.jpg" alt="a picture with musical symbols">
</p>
<p>
  If you have questions regarding our site, please contact us. We've provided
  out email addresses below. We've also included our CADE logins for the
  CS4540 teaching staff.
</p>
<table>
  <thead>
    <tr>
      <th width="150">Name</th>
      <th width="150">CADE login</th>
      <th width="300">E-mail</th>
    </tr>
  </thead>
  <tr>
    <td>Daryl Bennett</td>
    <td>darylb</td>
    <td>dben41@gmail.com</td>
  </tr>
  <tr>
    <td>Taylor Wilson</td>
    <td>taylorw</td>
    <td>rolyat.wilson@gmail.com</td>
  </tr>
</table>

