
<h1>Help</h1>
<p>
  <img src="../../assets/banner.jpg" alt="a picture with musical symbols">
</p>
<p>
  Congratulations! You found our help page. 
</p>
<p>
  This site consists several static and several dynamic pages. The static
  pages are 
  <a href="home">'Home'</a>, <a href="about">'About'</a>, 
  <a href="contact">'Contact'</a>, and 
  <a href="help">'Help'</a>. 
  These pages provide basic information about Jam!. 
  The <a href="../songs/">''Forum'</a> is where the fun stuff is.
  There you can post content about your latest Jam! (music composition). 
  You can also review other posts and provide other members of the community
  with feedback.
</p>
<p>
  If you have any questions about our site, goto our 
  <a href="contact">'Contact'</a> 
  page and shoot us an email. Cheers!
</p>

