<h1>Welcome to Jam!</h1>
<p>
  <img src="../../assets/headphones.jpg" alt="A picture of headphones">
</p>
<p>
  image retrieved from: <a href="http://www.globalhdwallpapers.com/headphones-music-hd-wallpaper/">Global HD Wallpapers</a>
</p> 	

  




