
<div class="row">
    <div class="large-6 columns panel">
   		<h1>New Article</h1>
		<%= form_for :article, url: articles_path do |f| %>
			<p>
				<%=f.label :title%><br>
				<%=f.text_field :title%><br>	
			</p>
			<p>
				<%=f.label :text%><br>
				<%=f.text_area :text%><br>	
			</p>
			<p>
				<%= f.submit %>
			</p>
			<% end %>
	  </div>
  </div>
