<%= form_for([@song, @song.comments.build]) do |f| %>
  <div class="row collapse">
    <div class="small-9 large-10 columns">
      <%= f.text_field :commenter, {:placeholder => 'Enter your name' }  %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-9 large-10 columns">
      <%= f.text_area :body %>
    </div>
  </div>
  <div class="row collapse">
    <%= f.submit "Submit Comment", {:class => "button" } %>
  </div>
<% end %>
