<!--This file displays error messages -->

<% if @user.errors.any?%>
<div data-alert="" class="alert-box alert radius"> 
	<h3><%= pluralize(@user.errors.count, "error")%>
		need to be fixed:
	</h3>
	<p>Please resolve the following issuses before registration:</p>
	<ul>
	<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<%end%>
	</ul>
 <a href="" class="close">×</a>
</div>

<% end %>
