<h1>Register</h1>
<%= form_for(@user) do |f| %>

<!--error message-->
	<%=render 'shared/error_messages' %>
<fieldset>
    <legend>Sign up today for free!</legend>
	
		<%= f.label :name %>
		<%= f.text_field :name , placeholder: "Please Enter Your Name" %>
		<%= f.label :email %>
		<%= f.text_field :email , placeholder: "Please Enter Your Email" %>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation %>
		
		<%= f.submit "Create my account", class: "button radius round" %>
		
</fieldset>
<% end %>
