<% provide(:title, "Login") %>
<h1>Login</h1>
<fieldset>
  <legend>LogIn!</legend>
  <%= form_for(:session, url: sessions_path) do |f| %>
  
  <%= f.label :email %>
  <%= f.text_field :email, placeholder:"example@someone.com" %>
  
  <%= f.label :password %>      <%= f.password_field :password %>
  
  
  <%= f.submit "Login", class: "button radius round" %>
  
  <p>Not a member? <%= link_to "Sign up today!",register_path %> It's quick and easy.</p>
</fieldset>
<% end %>
